
<div class="relative top-20 p-6 max-w-md mx-auto  rounded-xl shadow-lg flex items-center space-x-4 ">
  <div class="shrink-4">
    <img class="float-right h-24 w-16" src="/images/mysql.jpeg">
  </div>
  <div>
    <div class="basis-20 text-xl font-medium text-slate-600">MySQL DB initialization</div>
    <div class="basis-20 font-medium text-slate-500"><%= message %></div>
  </div>
</div>
