<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/output.css" rel="stylesheet">
    <title>Ontario Skills 2023 - AWS Cloud Club</title>
  </head>
  <body>
    <div class="w-full h-full bg-no-repeat bg-contain"
    style="background-image:url(./images/ontario_skills.png)">   
    <div class="flex justify-start  items-end px-6">
      <div>
        <img class="float-left h-24 w-46" src="/images/fa3-bsds.jpg">
      </div>
      <div class=" p-5 text-xl font-medium text-slate-700">Ontario Skills 2023 - AWS Cloud Club</div>
    </div>
    <hr/>
    <div class="p-6">
    <%- body %>
    </div>
  </body>
</html>
