
<div class="relative top-20 p-6 max-w-md mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4 ">
  <div class="shrink-4">
    <img class="float-right h-24 w-24" src="/images/success.png">
  </div>
  <div>
    <div class="basis-20 text-xl font-large text-slate-600"><%= message %></div>
  </div>
</div>
